In [1]:
import numpy as np
import pandas as pd

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [11]:
iris = pd.read_csv(url)

Creating columns for the dataset

In [12]:
columns = ['sepal_length(in cm)','sepal_width(in cm)','petal_length(in cm)','petal_width(in cm)','class']

In [13]:
iris.columns = columns
iris.head()

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa

Checking for missing values

In [14]:
iris.isnull().sum()

sepal_length(in cm)    0
sepal_width(in cm)     0
petal_length(in cm)    0
petal_width(in cm)     0
class                  0
dtype: int64

Setting the values of rows 10-29 in column petal_length to Nan

In [15]:
iris.loc[10:29,'petal_length(in cm)'] = np.nan

Substituting the Nan Values to 1.0

In [20]:
iris.loc[10:29,'petal_length(in cm)'] = 1
iris.loc[10:29,'petal_length(in cm)'].astype(float)

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
Name: petal_length(in cm), dtype: float64

Deleting the column 'class

In [25]:
# iris = iris.drop('class',axis=1)

In [26]:
iris.head()

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm)
0,4.9,3.0,1.4,0.2
1,4.7,3.2,1.3,0.2
2,4.6,3.1,1.5,0.2
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

Setting the first three rows as Nan

In [35]:
iris.loc[0:2] = np.nan

In [36]:
iris.head()

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

Dropping the rows with Nan

In [42]:
iris = iris.dropna()

Reseting the index

In [43]:
iris.reset_index(drop = True)

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm)
0,5,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2

BONUS : Describe the dataset

In [44]:
iris.describe()

,sepal_length(in cm),sepal_width(in cm),petal_length(in cm),petal_width(in cm)
count,5.0,5.0,5.0,5.0
unique,4.0,4.0,3.0,3.0
top,5.0,3.4,1.4,0.2
freq,2.0,2.0,3.0,3.0